*{
  margin: 0;
  padding:0;
}

.app {
 height: 100vh;
 width: auto;

}

.nav {
  display: flex;
  padding: 50px;
  background-color: rgb(224, 220, 224);
  justify-content: center;
  height: 30px;
  margin: 50px;



}


.nav-item {
  
color: rgb(171, 11, 139);
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
    justify-content: center;
    
  } 

  .profile{
    display: flex;
    justify-content: center;
    gap: 60px
    ;
  }

  .image1{
    
    height: 300px;
    width: 200px;
    border-radius: 50px;
  }

  .intro{

    width: 200px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    height: 200px;
    color: rgb(171, 11, 139);
    background-color: rgb(224, 220, 224);
    font-size: 10px;
    font-family: sans-serif;
  }

  p {
   padding: 20px;
  }
.intro2 {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  height: 300px;
  color: aliceblue;
  font-size: 30px;
  font-family: sans-serif;
  gap: 20px;
  justify-content: center;
  border: 2px solid black;
}

.projects {
  color:  rgb(171, 11, 139);
  margin: 5px;
  padding: 5px;
  height: 100px;
  width: 250px;
}

.image{
  height: 100px;
  width: 250px;
}

h1{
  font-size: xx-small;
}
